@model WebApp.ViewModels.AdminStuffViewModel;
@{
    ViewData["Title"] = "Admin tester";
}

<div class="text-center">
    <h1 class="display-4">Admin status received.</h1>
    <a>Please relog.</a>
</div>